---
layout: default
change_frequency: weekly
priority: 1.0
---
<div class="shadow">
  <div class="content home" id="recent-posts">
    {% for post in site.posts limit:25 %}
    <a href="{{ post.url }}" class="post-excerpt{% if post.photo_url %} photo{% endif %}">
      <div class="padded-content">
      {% if post.photo_url %}
        <div class="title">{{ post.photo_title }}</div>
        <div class="image" style="background-image: url('{{ post.url | prepend: site.cdnurl }}{{ post.photo_url }}');"></div>
      {% else %}
        <div class="title">{{ post.title }}</div>
        <info datetime="{{ post.date | date: "%Y-%m-%d" }}">
          {{ post.date | date: "%b %Y" }}
        </info>
        {% if post.description %}
        <span class="body">{{ post.description | strip_html }}</span>
        {% else %}
        <span class="body">{{ post.excerpt | strip_html }}</span>
        {% endif %}
      {% endif %}
      </div>
    </a>
    {% endfor %}
    <div class="breaker"></div>
    <div class="more">
      <a href="/archive/">More...</a>
    </div>
  </div>
</div>
<!-- build:js(app) /js/index.js -->
<script src="/js/index.js"></script>
<!-- endbuild -->
