{% unless page.no_comments %}
<!-- Duoshuo Comment BEGIN -->
<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}"{% if page.photo_url %} data-image="{{ page.url | prepend: site.cdnurl }}{{ page.photo_url }}"{% endif %} data-url="{{ page.url | prepend: site.baseurl }}"></div>
<script type="text/javascript">
var duoshuoQuery = {
  short_name: "huntout"
};
(function() {
  var ds = document.createElement('script');
  ds.type = 'text/javascript';
  ds.async = true;
  ds.src = 'http://static.duoshuo.com/embed.js';
  ds.charset = 'UTF-8';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
<!-- Duoshuo Comment END -->
{% endunless %}
