#cse-search-field {
  font-family: $font-sans-serif;
  font-size: inherit;
  width: 65%;
  min-width: 10em;
  padding: .5em 1em;
  border: 2px solid #ddd;
  border-radius: 90px;
}
#cse-search-field:focus {
  border-color: #29f;
  outline: none;
}
html.ios #cse-search-field {
  padding: .5em 1em;
  -webkit-appearance: none;
}