.content.home {
  padding: 0;
  .more {
    padding: 3em;
    text-align: center;
  }
  .post-excerpt {
    position: relative;
    display: block;
    float: left;
    overflow-y: hidden;
    width: 50%;
    color: inherit;
    border: none;
    .grid-mask {
      display: none;
    }
    .padded-content {
      display: block;
      padding: 2em 3em;
    }
    .title {
      font-weight: bold;
    }
    info {
      font-style: italic;
      display: inline-block;
      padding-right: .5em;
      color: #999;
    }
    &.photo {
      height: $body-width / 2;
      .padded-content {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        background: transparent no-repeat center center scroll;
        @include background-size(cover);
        .image {
          position: absolute;
          z-index: 1;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: #ccc;
          @include background-size(cover);
        }
      }
      .title {
        font-size: 250%;
        font-weight: 100;
        position: absolute;
        z-index: 2;
        right: 0;
        bottom: 0;
        left: 0;
        padding: .5em 1em;
        color: white;
        @include text-shadow(0 0 .5em black(.2));
      }
    }
    &:hover {
      text-decoration: none;
      color: $bg-color;
      background: $text-color;
    }
    &.photo:hover {
      .padded-content {
        opacity: .9;
        .image {
          opacity: .5;
        }
      }
    }
  }
}