@function black($opacity) {
  @return rgba(0, 0, 0, $opacity);
}

@function white($opacity) {
  @return rgba(255, 255, 255, $opacity);
}

@mixin box-shadow($var...) {
  -webkit-box-shadow: $var;
     -moz-box-shadow: $var;
          box-shadow: $var;
}

@mixin text-shadow($var...) {
  -webkit-text-shadow: $var;
     -moz-text-shadow: $var;
          text-shadow: $var;
}

@mixin background-size($var...) {
  -webkit-background-size: $var;
     -moz-background-size: $var;
       -o-background-size: $var;
          background-size: $var;
}

@mixin transform($var...) {
  -webkit-transform: $var;
     -moz-transform: $var;
      -ms-transform: $var;
       -o-transform: $var;
          transform: $var;
}

@mixin transition($var...) {
  -webkit-transition: $var;
     -moz-transition: $var;
      -ms-transition: $var;
       -o-transition: $var;
          transition: $var;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
@mixin clearfix {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
      clear: both;
  }
}

@mixin paper-shadow {
  @include box-shadow(0 1px 4px black(.27), 0 0 40px black(.06) inset);
}