@mixin ribbon($padding) {
  $offset: $padding / 10;
  $color: $bg-color;
  $darken: darken($color, 15%);
  position: relative;
  margin-right: $padding;
  margin-left: -$padding;
  .rectangle {
    position: relative;
    z-index: 100;
    right: -$offset;
    left: -$offset;
    width: 100%;
    padding: $offset ($padding + $offset) 0;
    background: $color;
    @include box-shadow(0 1px 4px black(.27), 0 0 40px black(.06) inset);
    .prev,
    .next {
      float: left;
      margin: (-$offset) 0 (-$offset) (-$padding - $offset);
      padding: 0 ($padding / 2 - $offset * 2);
      color: $darken;
      &:hover {
        color: $color;
        background-color: $darken;
      }
      .fa {
        line-height: 1.8;
      }
    }
    .next {
      float: right;
      margin: (-$offset) (-$padding - $offset) (-$offset) 0;
    }
  }
  .triangle-l,
  .triangle-r {
    position: relative;
    z-index: -1;
    top: -$offset;
    right: auto;
    left: -$offset * 2;
    float: left;
    width: 0;
    height: 0;
    border-width: $offset;
    border-style: solid;
    border-color: transparent $darken transparent transparent;
  }
  .triangle-r {
    right: -($padding + $offset) * 2;
    left: auto;
    float: right;
    border-color: transparent transparent transparent $darken;
  }
}