.shadow {
  position: relative;
  z-index: 1; /* prevent shadows falling behind containers with backgrounds */
  .content {
    position: relative;
    min-height: $body-width - $post-padding * 2;
    border: 1px solid #efefef;
    box-shadow: 0 1px 4px black(.27), 0 0 40px black(.06) inset;
    &:before,
    &:after {
      position: absolute;
      z-index: -1;
      bottom: 10px;
      left: 10px;
      width: 70%;
      max-width: 200px; /* avoid rotation causing ugly appearance at large container widths */
      height: 55%;
      max-height: 100px;
      content: '';
      transform: skew(-15deg) rotate(-6deg);
      box-shadow: 0 8px 16px black(.3);
    }
    &:after {
      right: 10px;
      left: auto;
      transform: skew(15deg) rotate(6deg);
    }
  }
}