.shadow {
  position: relative;
  z-index: 1; /* prevent shadows falling behind containers with backgrounds */
  .content {
    position: relative;
    min-height: $body-width - $post-padding * 2;
    border: 1px solid #efefef;
    @include paper-shadow;
    &:before,
    &:after {
      position: absolute;
      z-index: -1;
      top: 80%;
      right: auto;
      bottom: 15px;
      left: 10px;
      width: 50%;
      max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
      content: '';
      @include transform(skew(-3deg) rotate(-3deg));
      @include box-shadow(0 15px 10px black(.6));
    }
    &:after {
      right: 10px;
      left: auto;
      @include transform(skew(3deg) rotate(3deg));
    }
  }
}