.tags-page {
}
.tags-box {
  line-height: 1.5em;
  margin-bottom: 0;
  list-style: none;
  @include clearfix;
  > li {
    float: left;
    margin: 0 .8em .8em 0 !important;
    a {
      display: block;
      padding: 0 .6em 3px .6em;
      color: #777;
      background: #f2f2f2;
      @include box-shadow(inset 0 -2px white(.1), inset 0 -3px black(.1), 0 1px black(.05));
      sup {
        color: #aaa;
      }
    }
    a:hover {
      text-decoration: none;
      color: #fff;
      background: #2ae;
      @include text-shadow(0 1px black(.15));
      sup {
        color: #fff;
      }
    }
  }
}
