.tags-page {
  > *:target {
    display: block;
    color: #fff;
    background: #2ae;
    text-shadow: 0 1px black(.15);
    box-shadow: inset 0 -2px white(.1), inset 0 -3px black(.1), 0 1px black(.05);
  }
}
.tags-box {
  line-height: 1.5em;
  list-style: none;
  > li {
    float: left;
    margin: 0 .8em .8em 0 !important;
    a:hover {
      text-decoration: none;
      color: #fff;
      background: #2ae;
      text-shadow: 0 1px black(.15);
      sup {
        color: #fff;
      }
    }
    a {
      display: block;
      padding: 0 .6em 3px .6em;
      color: #777;
      background: #f2f2f2;
      box-shadow: inset 0 -2px white(.1), inset 0 -3px black(.1), 0 1px black(.05);
      sup {
        color: #aaa;
      }
    }
  }
}