// size
$body-width: 49em;
$post-padding: 4em;

// headlines
$h1: 180%;
$h2: 165%;
$h3: 150%;
$h4: 115%;
$h5: 110%;
$h6: 105%;
$smaller: 85%;

// colors
$bg-color: #fff;
$text-color: #444;
$link-color: #4183c4;

// fonts
$font-serif: 'Poly', georgia, serif;
$font-sans-serif: helvetica, sans-serif;
$font-monospace: 'Monaco', 'Consolas', monospace;
