/* Base */
* { margin:0; padding:0; font-family:inherit; }

body {
  color:#444;
  font:14px 'Poly', georgia, serif;
  line-height:1.5;
  font-weight: lighter;
  margin: 0 auto;
  width: 100%;
  zoom:0.8;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

div.breaker { clear:both; }
.template { display:none; }

p, ul, ol, pre, blockquote, hr, object { margin: 1em 0; }
pre, code, tt {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: 'Monaco', 'Consolas', monospace;
  font-weight: normal;
  font-size: 10px;
}
img { border:none; vertical-align:bottom; }
strong { font-weight:bold; }
hr { height:1px; border:none; background-color:#ddd; }

h1,h2,h3,h4,h5,h6 {
  font-family: 'Poly', helvetica, sans-serif;
  font-weight:normal;
  color:#040404;
  margin: 1em 0 0.618em 0;
  text-rendering: optimizelegibility;
}
h1 { font-size: 180%; margin: 1.618em 0 1em 0; }
h2 { font-size: 175%; }
h3 { font-size: 170%; }
h4 { font-size: 165%; }
h5, h6 { font-size: 150%; }

a { text-decoration: none; color: #4183c4; }
a:hover { text-decoration:underline; }
a.img { border:none; background:transparent !important; }

/* Headlines */
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a, h1 > a:hover,
    h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
  color:inherit !important;
  background-color:transparent !important;
}

/* header */
header {
  display: block;
  height: 100px;
  margin:0 60px 0 50px;
  color: #ccc;
}
  header h1 {
    display: block;
    height: 50px;
    margin:30px 0 0 0;
    float: left;
  }
    header h1 a {
      display:inline-block;
      -webkit-transform: translate3d(0,0,0);
      -webkit-transition: 160ms -webkit-transform ease-out;
    }
    header h1 a:hover {
      -webkit-transform: translate3d(0,2px,0);
      cursor:pointer;
    }
    header h1 img { display:block; float:left; }

  header ul.navigation {
    display:block;
    text-align: left;
    float: right;
    line-height: 50px;
    margin-top: 35px;
    font-family: helvetica, sans-serif;
  }
  header ul.navigation li {
    display: inline-block;
    list-style: none;
    margin-left: 1em;
  }
  header ul.navigation li:first-child { margin-left: 0; }
  header ul.navigation li a {
    color: #888;
    text-decoration: none;
    font-size: 11px;
  }
  header ul.navigation li a:hover { color: black; text-decoration: none; }
  header ul.navigation li a.active { font-weight:bold; color:black; }

/* --------------------------------------------------------------------------------------------- */
/* main content */

.shadow {

  position: relative;
  z-index: 1; /* prevent shadows falling behind containers with backgrounds */

  .content {

    min-height: 500px;
    position: relative;
    border: 1px solid #efefef;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;

    &:before,
    &:after {
      content: '';
      z-index: -1;
      position: absolute;
      left: 10px;
      bottom: 10px;
      width: 70%;
      max-width: 200px; /* avoid rotation causing ugly appearance at large container widths */
      max-height: 100px;
      height: 55%;
      -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      -webkit-transform: skew(-15deg) rotate(-6deg);
      -moz-transform: skew(-15deg) rotate(-6deg);
      -ms-transform: skew(-15deg) rotate(-6deg);
      -o-transform: skew(-15deg) rotate(-6deg);
      transform: skew(-15deg) rotate(-6deg);
    }

    &:after {
      left: auto;
      right: 10px;
      -webkit-transform: skew(15deg) rotate(6deg);
      -moz-transform: skew(15deg) rotate(6deg);
      -ms-transform: skew(15deg) rotate(6deg);
      -o-transform: skew(15deg) rotate(6deg);
      transform: skew(15deg) rotate(6deg);
    }
  }
}

div.content {
  background:white;
  padding:70px 60px;
  margin-bottom:60px;
}
div.content.full-bleed {
  padding:0;
}
div.content.photo {
  padding: 0;
  margin:0;
}
  div.content:not(.sub) h1:first-child {
    margin-top:0; font-size:250%;
  }

  div.content img, div.content iframe { display:block; max-width:100%; margin:1em 0; }
  div.content img.inline { display: inline-block; margin: 1px 0 5px 0; height: 14px;}
  div.content iframe { border:none; }
  div.content img[align=right] { margin:0 0 1em 1em; }
  div.content img[align=left] { margin:0 1em 1em 0; }

  div.content li { margin-left: 2em; margin-bottom:0.3em; }
  div.content ul > li { margin-left:1.4em; }

  div.content blockquote {
    font-family: 'Poly', georgia;
    font-style: italic;
    border-left: 0.5em #eee solid;
    padding-left: 0.5em;
    color: #666055;
    text-rendering: optimizelegibility;
  }
  div.content div.quotation blockquote { margin-left:-30px; }

  div.content pre {
    color: black;
    background-color: #f8f8f8;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 6px 10px;
    line-height: 1.5;
    white-space: pre;
    overflow-x: auto;
  }
  div.content code {
    color: black;
    background-color: #f8f8f8;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 0 0.3em;
  }
  div.content pre > code {
    color: black;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
  }

  div.content *:target { background:#fe0; }
  div.content sup:target a { padding:2px 5px; }
  div.content div.footnotes li { color:#999; }
  div.content div.footnotes li:target { background:#ffc; color:inherit; }

div.content.sub {
  margin-top:-50px;
  padding-top:20px;
}

/* --------------------------------------------------------------------------------------------- */
/* intro on first page */

div.content.intro {
  padding: 40px;
}

/* --------------------------------------------------------------------------------------------- */
/* posts */

div.posts div.end {
  padding:40px;
  text-align:center;
}

/* --------------------------------------------------------------------------------------------- */
/* post excerpt */
/* Wrapped in a div.content.full-bleed */

a.post-excerpt {
  display: block;
  color: inherit;
  border-bottom: 4px solid #ddd;
}
  a.post-excerpt div.padded-content {
    display: block;
    padding: 40px;
  }
  a.post-excerpt div.grid-mask { display:none; }
  a.post-excerpt.photo {
    height:320px;
  }
    a.post-excerpt.photo div.title {
      padding:10px 40px;
      font-size: 250%;
      font-weight: 100;
      color: white;
      -webkit-text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      -moz-text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      position: absolute;
      left:0; right:0; bottom:0;
      z-index:2;
    }
    a.post-excerpt.photo div.padded-content {
      padding:0;
      width:100%;
      height:100%;
      background: transparent no-repeat center center scroll;
      position: relative;
    }
    a.post-excerpt.photo div.padded-content div.image {
      position: absolute;
      left:0; top:0; right:0; bottom:0;
      z-index:1;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-color: #ccc;
    }
    a.post-excerpt.photo:hover div.padded-content {
      opacity: 1;
    }
    a.post-excerpt.photo:hover div.padded-content div.image {
      opacity:0.5;
    }

  @media screen and (min-width: 680px) {
    a.post-excerpt {
      position:relative;
      display: block;
      width:50%;
      overflow-y: hidden;
      float:left;
      border:none;
      margin-bottom:10px;
    }
    a.post-excerpt.photo {
      height:340px;
    }
      a.post-excerpt.photo div.padded-content {
        padding:0;
        width:100%;
        height:100%;
        background: transparent no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      a.post-excerpt.photo:hover div.padded-content {
        opacity:0.9;
      }
  }

  a.post-excerpt:hover {
    color:white;
    background:#444;
    text-decoration:none;
  }

  a.post-excerpt div.title {
    font-weight: bold;
  }

  a.post-excerpt info {
    display:inline-block;
    padding-right:8px;
    color:#999;
    font-style:italic;
  }

/* --------------------------------------------------------------------------------------------- */
/* photo post */

div.content.photo-post {
  p:first-child, img:first-child {
    padding-top:0;
    margin-top:0;
  }
  iframe {
    padding: 40px 0 0 0;
    margin:0;
  }
}

/* --------------------------------------------------------------------------------------------- */
/* posts */

div.post {
  padding-bottom: 0;
  page-break-before: always;
}
  div.post.single, div.post:last-child { border-bottom:none; }

  div.post actions, div.post info {
    color: #ccc;
  }

  div.post actions {
    float:right;
  }

  div.post info {
    display:inline-block;
    border:1px solid #f0f0f0;
    border:1px solid rgba(0,0,0,0.1);
    border-left:none; border-right:none;
    padding:8px 0 8px 60px;
    margin-left:-60px;
    margin-bottom:3em;
  }
  div.post.photo info {
    margin:0;
    padding:0;
    border:0;
    display:block;
  }

  div.post info.after {
    margin-top:30px;
    margin-right:-60px;
    margin-bottom:0;
    padding-top:25px;
    padding-right:60px;
    padding-bottom:25px;
    opacity:0.6;
    border-color:#f0f0f0;
    border-color:rgba(0,0,0,0.08);
    border-bottom:none;
  }
  div.post info.after:hover {
    opacity:1;
  }

  div.post iframe[width="640"] {
    zoom:0.87;
  }

/* --------------------------------------------------------------------------------------------- */
/* tags */

div.content {

  .post .footer {
    margin-top: 2em;
    color: #777;
    >.fa {
      margin-right: .8em;
    }
  }

  .tags-page {
    >*:target {
      display: block;
      box-shadow: inset 0 -2px rgba(255,255,255,0.1),inset 0 -3px rgba(0,0,0,0.1),0 1px rgba(0,0,0,0.05);
      color: #fff;
      background: #2ae;
      text-shadow: 0 1px rgba(0,0,0,0.15);
    }
  }

  .tags-box {
    list-style: none;
    line-height: 1.5em;
    >li {
      float: left;
      margin: 0 .8em .8em 0 !important;
      a {
        display: block;
        padding: 0 .6em 3px .6em;
        box-shadow: inset 0 -2px rgba(255,255,255,0.1),inset 0 -3px rgba(0,0,0,0.1),0 1px rgba(0,0,0,0.05);
        color: #777;
        background: #f2f2f2;
        sup {
          color: #aaa;
        }
      }
      a:hover {
        color: #fff;
        background: #2ae;
        text-decoration: none;
        text-shadow: 0 1px rgba(0,0,0,0.15);
        sup {
          color: #fff;
        }
      }
    }
  }
}

/* --------------------------------------------------------------------------------------------- */
/* footer */

footer {
  color:#999;
  display: block;
  margin:0;
  padding:0 0 1em 0;
  text-align: center;
}
  footer img.cc {
    display: inline-block;
    vertical-align: -0.2em;
    border: none;
    width:1em;
    height:1em;
    opacity:0.4;
  }
  footer a.cc:hover {
    text-decoration: none;
  }
  footer a.cc:hover img.cc {
    opacity:1;
  }
  footer a:link {
    color:#778;
  }

/* Viewport size */

@media screen and (min-width: 480px) {
  body { zoom: 0.8; }
}
@media screen and (min-width: 680px) {
  body { zoom: 0.9; width: 680px; }
  header { margin:0; }
  footer { margin:5% 0; }
}
@media screen and (min-width: 780px) {
  body { zoom: 1.3; }
}

/* device specifics */

/* medium-res devices (e.g. ipad and iphone) */
@media only screen and (max-device-width: 1024px) {
  /* To constrain pre-formatted text to body width */
  body { color:black; }
  html.ios pre { overflow:scroll; }
  html.ios pre, html.ios code, html.ios tt { font-size:0.95em; }
  header { margin:0 60px 0 45px; }
  header ul.navigation li a { font:inherit; font-size:14px; }
  div.content { font-size:1.2em; }
}

/* iPhone */
@media only screen and (max-device-width: 480px) {
  header {
    height: 120px;
    margin:0 1em 0 0.8em;
  }
    header h1 { float:none; }
    header ul.navigation {
      float:none;
      padding-left:0.1em;
      margin-top: 5px;
    }

  h1,h2 { font-size: 160%; }
  h3 { font-size: 130%; }
  h4 { font-size: 115%; }
  h5, h6 { font-size: 110%; }

  pre, code, tt { font-size:11px; }

  div.content { padding:3em 1em; font-size:1.1em; }
  div.content blockquote { padding-left:2.5em; margin-left:-1em; }
  div.content div.quotation blockquote { margin-left:0; }
  div.content:not(.sub) h1:first-child { font-size:210%; }
  div.content pre {
    margin: 0 -1em;
    padding:1em;
    background-color: #eee;
    border-left: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}

/* medium-res devices (e.g. ipad, but not iphone) */
@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) {
  body { zoom: 1; width:100%; font-family: 'Poly', georgia; }
}
